{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% block content %}
	{% include 'top-banner.html' %}
	<link rel="stylesheet" type="text/css" href="{% static './base.css'%}" >
	<ul>
		{% recursetree nodes %}
			<li>
				{{node.story_text}}
				{% if not node.is_leaf_node %}
					<ul class="children">
						{{children}}
					</ul>
				{% endif %}
			</li>
		{% endrecursetree %}
	</ul>
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top
</button>
<a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>

<!-- Generated markup by the plugin -->
<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>
{% endblock content %}
